@import url('https://fonts.googleapis.com/css2?family=Mansalva&family=Playpen+Sans:wght@100..800&display=swap');

/* momken ya5od rakam mn 100 l 800 */
.playpen-sans-regular {
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.playpen-sans-bold {
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.mansalva-regular {
    font-family: "Mansalva", sans-serif;
    font-weight: 400;
    font-style: normal;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./assets/notebook-bg.jpg');
    background-size: contain;
    background-repeat: repeat;
    background-attachment: fixed;
}

.main {
    width: 90vw;
    margin: auto;
    min-height: 100vh;
}

h1 {
    font-size: 4.5rem;
    text-align: center;

}

.title {
    height: 20vh;

}

.game-main {
    display: flex;
    flex-direction: row;
    height: 80vh;

}

.game-main>div {
    /* flex: 1; */
    /* width: 50%; */
    text-align: center;

}


.game-right,
.game-left {
    flex: 1;
    max-height: 80vh;

}


.game-right img {
    /* min-height: 100%; */
    height: 65vh;
}

#answer {
    font-size: 18px;
    margin-bottom: 1.6rem;
}

#answer span {
    display: inline-block;
    font-size: 2rem;
    min-width: 2.2rem;
    /* min-height: 4rem; */
}

.category {
    font-size: 1.6rem;
    padding: 4px 0px;
    margin-bottom: 1rem;
}

.letters {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.letters span {
    font-size: 1.6rem;
    padding: 4px 10px;
    margin: 4px 8px;
    border: 2px solid black;
    border-radius: 10px;
}

.letters span.disabled {
    border-color: #7a7a7a;
    color: #7a7a7a;
}


.hidden {
    visibility: hidden;
}

#roundOver {
    font-size: 2rem;
    text-align: center;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    display: none;

}

#roundOver button {
    background-color: transparent;
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    margin: 1rem auto;
    cursor: pointer;
    width: fit-content;
}

/* Small devices (768px or smaller)*/
@media only screen and (max-width: 768px) {

    html {
        /* 1 rem = 14px */
        font-size: 87.5%;
    }

    .title {
        height: 10vh;
        margin-bottom: 2rem;
    }

    .game-main {
        flex-direction: column-reverse;
        height: auto;
    }

    .game-left,
    .game-right {
        max-height: 100%;
    }

    .game-right {
        max-height: 35vh;
    }

    .game-right img {
        height: 100%;
        max-width: 80%;
    }

    .letters {
        width: 100%;
    }
}